*{
    color:white;
}

.targetOfView{
    text-align: center;
    margin-top:300px;


}
.finaihead{
    font-size:160px;
    font-family:fauna one;
    font-weight:1000;
    margin-bottom: 10px;

}

#quot{
    font-size:40px;
    font-weight: 700;
    font-family : fauna one;

}
main{
    margin-bottom:400px;

}
section{
    background-color: rgba(40, 204, 40, 0.05);

    border-radius: 10px;
    margin: auto  30px
}
.sectionpad{
    padding:50px;

}




